button {
  cursor: pointer;
  display: grid;
  place-content: center;
  border: none;
  background-color: rgb(192, 192, 192);
  padding: 0;
  margin: 0;
  appearance: none;
  color: rgb(169, 169, 169);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

footer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;

  .game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 0 0;
    padding: 0;

    li {
      list-style-type: none;
    }

    button {
      color: #000;
      padding: 6px 12px;
      border-radius: 9999px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

#rom-slot {
  display: block;
  height: 100%;
}
