#rom-slot .game-default {
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: 1fr;
  height: 100%;
  background-color: #fff;
}

.app {
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    margin-bottom: 1em;
  }

  .button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    gap: 15px;
    place-content: center;
    font-size: 16px;
    line-height: 1;
    margin-top: 60px;
    button {
      padding: 10px 0;
      border: none;
      border-radius: 8px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
