// ABボタン
.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  button {
    font-size: 18px;
    border-radius: 9999px;
    aspect-ratio: 1;
    padding: 5px;
    box-shadow:
      4px 4px 10px rgba(0, 0, 0, 0.2),
      -4px -4px 10px rgba(255, 255, 255, 0.1),
      inset -2px -2px 4px rgba(0, 0, 0, 0.3),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1);

    &[data-key="enter"] {
      transform: translateY(-10px);
    }
  }
}
