.powerSwitch {
  cursor: pointer;
  appearance: none;
  position: absolute;
  top: 100%;
  left: 45px;
  z-index: 0;
  width: 30px;
  height: 4px;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 0 0 2px 2px;
  background-color: #222;
  &:checked {
    transform: translate3d(15px, 0, 0);
  }
}
